/* 
	CSS CORE 
	https://cssminifier.com/
	https://dafrok.github.io/gzip-size-online/
	https://www.kammerl.de/ascii/AsciiSignature.php
	cybermedium, 4max
*/

/*
	____ ____ ____ ____ ___
	|__/ |___ [__  |___  | 
	|  \ |___ ___] |___  | 
	---------------------------------------------------------------------------------------
	reset 
*/
	*{
		box-sizing: border-box;
		position:relative;
	}
	body, 
	ul, 
	li, 
	figure{
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		margin:0;
		padding:0;
		
	}
	code, figure, a{
		display: inline-block;
	}
	ul{
		list-style: none;
	}
	hr.-b{
		border-bottom:0;
		border-left:0;
		border-right:0;
		height:0;
	}
	p, h1, h2, h3, h4, h5, 
	.-reset h1,.-reset h2,.-reset h3,.-reset h4,.-reset h5,.-reset p, .-reset p:last-child, .-reset figure,
	h1.-reset ,h2.-reset ,h3.-reset ,h4.-reset ,h5.-reset ,p.-reset, .-reset li
	{ 
		margin-top:0; 
		margin-bottom:0;  
		padding-top:0;
		padding-bottom:0;
		/* fix center text */
		margin-block-start: 2px;
	}
	.-clear, .td{
		clear:both;
	}

	
/* 
	____ ____ _ ___ 
	| __ |__/ | |  \
	|__] |  \ | |__/
	---------------------------------------------------------------------------------------
	grid
*/

	.tr, .space{
		display:grid;
		grid-auto-flow: column;
	}
	.td{
		overflow: hidden;
	}
	.-tr12{
		grid-template-columns: repeat(12, 1fr);
	}
	.-td1{
 		grid-column: span 1;
	}
	.-td2{
 		grid-column: span 2;		
	}
	.-td3{
 		grid-column: span 3;		
	}
	.-td4{
 		grid-column: span 4;		
	}
	.-td5{
 		grid-column: span 5;		
	}
	.-td6{
 		grid-column: span 6;		
	}
	.-td7{
 		grid-column: span 7;		
	}
	.-td8{
 		grid-column: span 8;		
	}
	.-td9{
 		grid-column: span 9;		
	}
	.-td10{
 		grid-column: span 10;		
	}
	.-td11{
 		grid-column: span 11;		
	}
	.-td12{
 		grid-column: span 12;		
	}
	.-td-top > *, 
	.-td-middle > *, 
	.-td-bottom > *,
	.-col > *,
	.-col-reverse > *,
	.-row > *,
	.-row-reverse > *{
		display:flex;	
		flex-direction: column;
	}

/* 
	_ _ _ _ ___  ___ _  _
	| | | | |  \  |  |__|
	|_|_| | |__/  |  |  |
	---------------------------------------------------------------------------------------
	WIDTH 
*/

	.-w-default{
		width:50vw;
	}
	.-w-wide{
		width:65vw;
	}
	.-w-min{
		width:min-content;
		
	}
	.-w-full{
		width:100%;
	}
	.-w-cr{
		margin-left:auto;
		margin-right:auto;
	}
	.-w-min > .td{
		overflow: initial;
	}

/* 
	____ ____ _  _ ___ ____ _  _ ___    ___  _ ____ ____ ____ ___ _ ____ _  _
	|    |  | |\ |  |  |___ |\ |  |     |  \ | |__/ |___ |     |  | |  | |\ |
	|___ |__| | \|  |  |___ | \|  |     |__/ | |  \ |___ |___  |  | |__| | \|
	---------------------------------------------------------------------------------------
	CONTENT DIRECTION
*/

	.-col, .-col > * {
		flex-direction: column;
	}
	.-col-reverse, .-col-reverse > * {
		flex-direction: column-reverse;
	}
	.-row, .-row > * {
		flex-direction: row;
	}
	.-row-reverse, .-row-reverse > * {
		flex-direction: row-reverse;
	}

/* 
	 _ _  _ ____ ___ _ ____ _   _
	 | |  | [__   |  | |___  \_/ 
	_| |__| ___]  |  | |      |  
	---------------------------------------------------------------------------------------
	JUSTIFY
*/

	.-left, 
	.-td-left .td, 
	.-td-top > * { 
		justify-content: flex-start;
	}
	.-center,
	.-td-center .td,
	.-td-middle > * {
		justify-content: center;
		align-items: center;
	}
	.-right,
	.-td-right .td,
	.-td-bottom > * {
		justify-content: flex-end;
	}
	/* reset center aligments for icons with text*/
	.-td-top .td, .-td-bottom > * {
		align-items: initial;
	}
	.-between, 
	.-td-between > * {
		justify-content: space-between;
	}
	.-evenly,
	.-td-evenly > * {
		justify-content: space-evenly;
	}
	.-between, .-td-between,
	.-evenly, .-td-evenly{
		flex:initial;
	}
	.-top{
		align-items: flex-start;
		align-self: : flex-start;
	}
	.-middle{
		align-items: center;
		align-self: : center;
	}
	.-bottom{
		align-items: flex-end;
		align-self: flex-end;
	}

/* 
	___  ____ ____ _  _ ____ ____ ____ _  _ _  _ ___     ____ ____ _    ____ ____ ____
	|__] |__| |    |_/  | __ |__/ |  | |  | |\ | |  \    |    |  | |    |  | |__/ [__ 
	|__] |  | |___ | \_ |__] |  \ |__| |__| | \| |__/    |___ |__| |___ |__| |  \ ___]

	---------------------------------------------------------------------------------------
	background colors 
*/

	.-bg-c-default,
	.-bg-c-white, .-td-bg-c-white > *{
		background-color: #fff;
	}
	.-bg-c-primary, .-td-bg-c-primary > * {
		background-color: #668ec2;
	}
	.-bg-c-secondary, .-td-bg-c-secondary > * {
		background-color: #ffd6e9;
	}
	.-bg-c-light-gray, .-td-bg-c-light-gray > * {
		background-color: #f8f8f8;
	}
	.-bg-c-dark-gray, .-td-bg-c-dark-gray > * {
		background-color: #717171;
	}

/* 
	
	---------------------------------------------------------------------------------------
	text colors
*/
	body,
	.-color-default,
	.-color-black, 
	.-color-black a{
		color: #3d3d3d;
	}
	.-color-white, 
	.-color-white a{
		color: #fff;
	}
	.-color-primary,
	.-color-primary a, a{
		color: #668ec2;
	}
	.-color-secondary,
	.-color-secondary a{
		color: #ffd6e9;
	}
	.-color-light-gray,
	.-color-light-gray a{
		color: #b3b3b3;;
	}
	.-color-dark-gray,
	.-color-dark-gray a{
		color: #696969;
	}

/*	
	____ ____ _    ___  ____ _  _    ____ _ ___  _ _  _ ____
	| __ |  | |    |  \ |___ |\ |    [__  |   /  | |\ | | __
	|__] |__| |___ |__/ |___ | \|    ___] |  /__ | | \| |__]

	---------------------------------------------------------------------------------------
		
	Scale: 16px 1.250
	https://type-scale.com/
	 7 : 4.76; 47.6
	 6 : 3.81; 38.1
	 5 : 3.05; 30.5
	 4 : 2.44; 24.4
	 3 : 1.95; 19.5
	 2 : 1.56; 15.6
	 1 : 1.25; 12.5
	 0 : 1.00; 10
	-1 : 0.80; 8
	-2 : 0.64; 6.4
	-3 : 0.51; 5.1
	-4 : 0.41; 4.1
	-5 : 0.32; 3.2 
*/

/* 
	---------------------------------------------------------------------------------------
	columns spacing 
*/
	.-gap-s{
		grid-gap:1vw;
		min-height:1vw;
	}
	.-gap-m{
		grid-gap:1.95vw;
		min-height:1.95vw;
	}
	.-gap-l{
		grid-gap:3.81vw;
		min-height:3.05vw;
	}
	.-gap-xl{
		grid-gap:4.76vw;
		min-height:4.76vw;
	}

/* 
	---------------------------------------------------------------------------------------
	columns padding 
*/
	.-pad-xs, .-td-pad-xs > * {
		padding:0.64vw;
	}
	.-pad-s, .-td-pad-s > * {
		padding:1vw;
	}
	.-pad-m, .-td-pad-m > * {
		padding:1.95vw;
	}
	.-pad-l, .-td-pad-l > * {
		padding:3.05vw;
	}
	/* padding horizontal */
	.-pad-h-s, .-td-pad-h-s > * {
		padding-left:1vw;
		padding-right:1vw;
	}
	.-pad-h-m, .-td-pad-h-m > * {
		padding-left:1.95vw;
		padding-right:1.95vw;
	}
	.-pad-h-l, .-td-pad-h-l > * {
		padding-left:3.05vw;
		padding-right:3.05vw;
	}
	/* margin vertical */
	.-mar-v-s, .-td-mar-v-s > * {
		margin-top:1vw;
		margin-bottom:1vw;
	}
	.-mar-v-m, .-td-mar-v-m > * {
		margin-top:1.95vw;
		margin-bottom:1.95vw;
	}
	.-mar-v-l, .-td-mar-v-l > * {
		margin-top:3.05vw;
		margin-bottom:3.05vw;
	}

/* 
	---------------------------------------------------------------------------------------
	font-spacing 
*/
	h1{
		padding-top:3.05vw;
	}
	h2{
		padding-top:2.44vw;
	}
	h3{
		padding-top:1.95vw;
	}
	h4{
		padding-top:1.56vw;
	}
	h5{
		padding-top:1.25vw;
	}
	li{
		padding-top:1vw;
	}
	p,figure{
		padding-top:1.56vw;
	}
	p:last-child{
		padding-bottom:1.56vw;
	}

/* 
	---------------------------------------------------------------------------------------
	font sizes 
*/
	h1{
		font-size: calc(30.5px + 0.45vw);
		line-height: 150%;
	}
	h2{
		font-size: calc(24.4px + 0.45vw);
		line-height: 150%;
	}
	h3, .-large, .-large a, a.-large{
		font-size: calc(19.5px + 0.45vw);
		line-height: 150%;
	}
	h4, .-medium, .-medium a, a.-medium{
		font-size: calc(12.5px + 0.45vw);
		line-height: 150%;
	}
	p, h5, .-default, a, span, code{
		font-size: calc(8px + 0.45vw);
		line-height: 150%;
	}
	.-small, .-small a, a.-small{
		font-size: calc(5.1px + 0.45vw);
		line-height: 150%;
	}


/* 
	___  ____ ____ ___  ____ ____    ____ ___ _   _ _    ____
	|__] |  | |__/ |  \ |___ |__/    [__   |   \_/  |    |___
	|__] |__| |  \ |__/ |___ |  \    ___]  |    |   |___ |___
	---------------------------------------------------------------------------------------
	BORDER STYLE
*/
	.-b, .-td-b > * {
		border-style: solid;
		border-width: 1px;
		border-color: transparent;
	}

/* 
	border radius
*/
	.-b-s, .-td-b-s > *{
		border-radius:calc(0.64px + 0.2vw);
	}
	.-b-m, .-td-b-m > *{
		border-radius:calc(2.44px + 0.2vw);
	}
	.-b-l, .-td-b-l > *{
		border-radius:calc(4.76px + 0.2vw);
	}

/* 
	border color 
*/
	.-b-light-gray, .-td-b-light-gray > *{
		border-color: #ccc;
		/* fix for hairline */
		border-top-color: #ccc;
	}
	.-b-dark-gray, .-td-b-dark-gray > * {
		border-color: #404040;
		/* fix for hairline */
		border-top-color: #404040;
	}
/* 
	url style 
*/
	a{
		text-decoration: none;
		text-transform: uppercase;
	}
	a:hover{
		text-decoration: underline;
	}

/* 
	image 
*/
	img{
		max-width: 100%;
	    height: auto;
	    vertical-align: middle;
	}
	/* use -w-full to set width 100% */
	.cover{
		display: grid;
		width:100%;
		height:100%;
	}
	.cover img{
		object-fit: cover;
		width:100%;
		height:100%;
	}
	.float{
		float:left;
		padding-right:1.56vw;
	}
	
	/* object-position:top; */

/* 
	---------------------------------------------------------------------------------------
	HELPERS
*/
	.-sticky{
		position: sticky;
		top:0;
	}

	/* hover - contrast */
	.-hvr-contrast:hover, .-td-hvr-contrast > *:hover {
		filter: contrast(2);
		cursor: pointer;
		text-decoration: none;
	}
	/* hover - inverse */
	.-hvr-invert:hover, .-td-hvr-invert > *:hover {
		filter: invert(.75);
		cursor: pointer;
		text-decoration: none;
	}
	
	

/* 
	---------------------------------------------------------------------------------------
	MOBILE
*/

	/* only mobile */
	@media only screen and (max-width: 768px) {
		body p, body h1, body h2, body h3, body h4, body h5, body code{
			font-size: revert;
		}
		body figure, body img{
			width:100%;
		}
		.tr{
 			grid-auto-flow: initial;
		}  
		.tr.-mv{
 			grid-auto-flow: column;
		}  
		.-w-default,.-w-wide{
			width: 100%;
		}
		.tr .td{
			grid-column: span 12;
		}
		.-m0{
			display:none;
		}
		.tr .td.-m11{
			grid-column: span 11;	
		}
		.tr .td.-m10{
			grid-column: span 10;	
		}
		.tr .td.-m9{
			grid-column: span 9;	
		}
		.tr .td.-m8{
			grid-column: span 8;	
		}
		.tr .td.-m7{
			grid-column: span 7;	
		}
		.tr .td.-m6{
			grid-column: span 6;	
		}
		.tr .td.-m5{
			grid-column: span 5;	
		}
		.tr .td.-m4{
			grid-column: span 4;	
		}
		.tr .td.-m3{
			grid-column: span 3;	
		}
		.tr .td.-m2{
			grid-column: span 2;	
		}
		
	}





/* github highline fix*/
.td code{
	width: fit-content;
	border:0;
	margin:0;
	font-size: calc(5.1px + 0.5vw);
    line-height: 150%;
    white-space: pre-wrap;
}
.td code span{
	font-size: calc(5.1px + 0.5vw);
    line-height: 150%;
}
		